{% extends 'base.html.twig' %}

{% block title %}All Posts{% endblock %}

{% block body %}

    <div>
        {% if socialPosts|length > 0 %}
            {% for post in socialPosts %}
                <div>
                    <a href="{{path('app_social_post_show', {socialPost:post.id})}}">{{post.title}}</a>
                    {{post.title}}
                </div>
            {% endfor %}
        {% else %}
            Nothing Here!
        {% endif %}
    </div>

{% endblock %}
