{% extends 'base.html.twig' %}

{%  block body %}
    <p>The Current message is:</p>
    <div>
        <b> {{message.message}} </b>
        {{ include('hello/_message_date.html.twig', {message:message}) }}

    </div>
{%  endblock %}